/* =========================
   SLIDERS
   ONLY SLIDER APPEARANCE
========================= */

.score-control input[type="range"] {

    accent-color: #54e0cf;
}


/* Chrome / Edge / Safari */

.score-control input[type="range"]::-webkit-slider-runnable-track {

    background: #315b58;

    border-radius: 10px;
}

.score-control input[type="range"]::-webkit-slider-thumb {

    background: #54e0cf;

    border-radius: 50%;

    cursor: pointer;
}


/* Firefox */

.score-control input[type="range"]::-moz-range-track {

    background: #315b58;

    border-radius: 10px;
}

.score-control input[type="range"]::-moz-range-progress {

    background: #54e0cf;

    border-radius: 10px;
}

.score-control input[type="range"]::-moz-range-thumb {

    background: #54e0cf;

    border: none;

    border-radius: 50%;

    cursor: pointer;
}
